[2012-08-08 04:42] brycejohnson opened #1 "Add support for Oracle"
Need to create oracle dbconfig.xml template and then config.pp check.
Populate the jira.yaml with examples.

[2012-11-04 09:02] brycejohnson opened #2 "Add support for Debian Ubuntu"

[2013-01-10 23:29] brycejohnson opened #3 "Stopping the service using Atlassian stop script can result in puppet proceeding before the process ends"
Getting an occasional race condition stopping the service during JIRA upgrades.  Need to add a check in jira.erb after the call to jira-stop.sh to make sure that the JIRA JVM has been shut down, using kill if necessary after a time wait.

[2013-09-09 15:29] frozenfoxx opened #6 "Support for RVM"
Hello, I was wondering if it'd be possible for us to figure out a way to support RVM installations of Ruby and Facter?  I'd add support into the template file myself but I'm really not sure how to tell it to check for that.

As it is I've got a custom init.d script with the line:
  OS=`/usr/local/rvm/bin/bootup_facter osfamily`

Since facter is required I'm not sure how to resolve this in a clean,

[2013-10-11 10:08] actionjack opened #7 "Can you register your module on http://forge.puppetlabs.com ?"
Hi there I've just started to use your module and I was wondering if it's possible for you to register it on forge.puppetlabs.com so it's easier to include it in librarian-puppet and for others to find it?

[2013-10-16 04:27] #7 closed, assigned to nobody

[2013-12-23 13:00] michalzwierzchowski opened #10 "I am trying to run it"
Can you please help me run it?

OS: Centos 6.5
DB:MySQL

This is my init.pp file:
class {'jira':
javahome => '/usr/lib/jvm/java-1.7.0-openjdk-1.7.0.45.x86_64/',
downloadURL  => 'http://downloads.atlassian.com/software/jira/downloads/',
}

And this is th result:

[root@localhost manifests]# puppet apply init.pp
Warning: Config file /etc/puppet/hiera.yaml not found, using Hiera defaults
Warning: Sco

[2014-01-08 04:16] brycejohnson opened #12 "Create CI Process for lint, rspec, serverspec"

[2014-01-16 22:49] nodoubleg opened #13 "Add support for hosting Jira behind Apache SSL proxy."
the changes described in the [Integrating Jira with Apache using SSL](https://confluence.atlassian.com/display/JIRA/Integrating+JIRA+with+Apache+using+SSL) wiki page aren't managed by the module, and probably should be.

As it is currently, server.xml needs to be tweaked with every Jira upgrade.

[2014-03-18 08:06] #13 closed, assigned to mkrakowitzer

[2014-03-18 08:06] #10 closed, assigned to mkrakowitzer

[2014-03-20 11:08] mkrakowitzer opened #17 "Lots of attachments can make puppet runs very long"
We need to remove the recurse => true on the jira home directory. When you have a few thousand attachments it can take the puppet run very long to complete.

file { $jira::homedir:
    ensure => 'directory',
    owner => $jira::user,
    group => $jira::group,
    recurse => true,
  } ->

[2014-03-20 15:41] mzyromski-atlassian opened #18 "Puppet complaining about missing parameters to Deploy::Untar"
I'm trying to use puppet-jira from Vagrant. In my puppet manifest I have:

[code]

and I get complaints about missing parameters for Deploy::Untar, such as:

[code]

where group is sometimes replaced by other parameters (e.g. user, command_options).

I've cloned both puppet-jira and puppet-deploy modules from git master.

It looks like jira module is not providing required parameters to deploy cal

[2014-03-21 13:45] #18 closed, assigned to nobody

[2014-05-13 12:53] #17 closed, assigned to mkrakowitzer

[2014-06-18 06:23] untsakas opened #24 "Setting user shell to /bin/false breaks init script"
Possible workaround to start JIRA and still leave users default login shell to /bin/false is define shell in user.sh..erb.

[code]

JIRA 6.2.6
Centos 6.5

[2014-08-07 07:36] #24 closed, assigned to nobody

[2014-08-07 08:32] #2 closed, assigned to nobody

[2014-09-06 15:37] #12 closed, assigned to nobody

[2014-09-24 19:40] mkrakowitzer opened #29 "Replace puppet-deploy with puppet-staging"
puppet-staging should replace my puppet-deploy module. It has better tests and support etc.

[2014-10-01 16:58] mkrakowitzer opened #32 "Add beaker tests so we can support more operating systems"
We need to add beaker tests to  make it easier to support more operating systems.

Add support for
- Scientific Linux 5/6
- Debian 6/7
- SLES
- OracleLinux 5/6

I suspect it will work for all of the above, but we wont know without testing it.

[2014-10-02 08:32] #29 closed, assigned to nobody

[2014-10-09 17:05] #3 closed, assigned to mkrakowitzer

[2014-10-11 13:44] mkrakowitzer opened #36 "Add provider to set server ID and install License"

[2014-10-19 08:42] #6 closed, assigned to nobody

[2014-12-12 16:28] pdirksen opened #42 "Debian init.d script cant uses /bin/jps instead of /usr/bin/jps"
`service jira status`
fails because the script can not find `jps` in `/bin`

Workaround:

`ln -s /usr/bin/jps /bin/jps`

[2014-12-12 16:33] pdirksen opened #43 "Additional proxy settings won't be persisted in server.xml.erb"
Something is wrong in ```server.xml.erb```:

[code]
Despite setting the parameter 'proxy' it will not be persisted in server.xml

[2014-12-15 11:42] #42 closed, assigned to nobody

[2015-01-12 17:05] zachdaniel opened #44 "JIRA can't parse the JVM arguments when delimited with spaces instead of semicolons."
Due to the way the jvm arguments are passed in, JIRA doesn't parse them correctly.  The JVM handles them just fine, but JIRA doesn't understand them properly (as I understand it).  If you look at the support ticket [here](https://confluence.atlassian.com/display/JIRAKB/Setting+Java+parameters+for+Windows+Service+is+causing+Startup+problems+or+not+being+recognized?showComments=true&showCommentArea=

[2015-01-12 17:09] zachdaniel commented on #44
I also have an idea/question for you on a unrelated topic, if you don't mind me emailing you.

[2015-01-12 20:39] mkrakowitzer commented on #44
Hi Zach

The JVM_REQUIRED_ARGS is hard coded, its a direct copy of what comes from the atlassian install file. That being said I think you are more dilliegent at checking your logs than I am :), so let me verify the warning in the log file and then I will apply a fix. This may potentially be an issue with other variables used by the JVM, such as JVM_SUPPORT_RECOMMENDED_ARGS and JAVA_OPTS, will con

[2015-01-12 21:16] zachdaniel commented on #44
It refers to the windows operating system, but we are deploying on CentOS.  I believe that the statement that this happens 'because you are running JIRA as a Windows service' is false, and that they believe those circumstances to be the only case in which this issue arises.  It probably has something to do with those parameters placement in the windows install documentation, but honestly I couldn'

[2015-01-12 21:28] zachdaniel opened #45 "Mysql driver placement, or how to finish puppet run before starting JIRA"
This question probably leaves much to be desired, and may be resolved simply with some puppet-fu.

We were receiving errors when starting JIRA in regards to a lack of mysql drivers.  We specified the driver in the `dbdriver` parameter as `com.mysql.jdbc.Driver`, but still ended up needing to add a driver(.jar) file to `<install_directory>/lib/`.  Due to the fact that JIRA module declares the direc

[2015-01-13 03:33] mkrakowitzer commented on #45
I think this may be fixed if you use the github version of the module. Just
busy finishing some other minor updates and plan to push a new version to
the forge which hopefully will fix this for you.

Let me know if that works, if not I'll take a look.
On 12 Jan 2015 23:28, "Zach Daniel" <notifications@github.com> wrote:

[2015-01-14 17:21] zachdaniel commented on #45
Thanks!  I'll wait for the forge update and give it a shot.

[2015-01-17 18:01] mkrakowitzer commented on #45
I have pushed a new version to the forge. Please let me know if it solved your problem.

If have the time, please consider rating the puppet jira module on the forge :)

[2015-01-17 18:05] mkrakowitzer commented on #43
I am not able to reproduce this issue. May I ask what version of puppet are you using? What OS are you running this module on?

[2015-01-18 00:19] mkrakowitzer commented on #45
Hi Zach

I have been testing the mysql connector on various operating systems.
Both CentOS 6 and Ubuntu 12.04 have this issue: http://bugs.mysql.com/bug.php?id=61201.

MySQL Connector 5.1.16 and 5.1.17 is known not to work with most atlassian products:  Ubuntu 12.04 ships 5.1.16. Centos 6 with 5.1.17.

[2015-01-20 17:17] zachdaniel commented on #45
I suspect I'm doing this wrong, but no matter how I configure it I'm getting the Tomcat error 'could not determine database type'

[code]

[2015-01-20 17:31] zachdaniel commented on #45
I've tried it without dbdriver set, but I see no evidence of it managing or installing any mysql drivers.

[2015-01-20 19:43] zachdaniel commented on #45
I think I had a misconception here.  I realize now the option to select a jar was all I needed.  I just placed the jar before-hand, and pointed to it during the installation.  Sorry for the confusion, I would consider this issue addressed, seeing as the MySQL Connector package for CentOS is the reason it wasn't working earlier, not your module.

[2015-01-20 19:50] mkrakowitzer commented on #45
Hi Zach,

Glad its working, I added a new feature this weekend to download the latest driver and correctly place it. Its not uploaded to the forge yet though. I have just finished testing it on Ubuntu 12.04/14.04/Centos67 and Debian.

I hope to release 1.1.5 this week, just adding some other small features first.

[2015-01-20 19:50] #45 closed

[2015-01-20 19:51] mkrakowitzer commented on #45
Please consider rating the module on puppet forge if you have time :)

[2015-01-20 19:53] zachdaniel commented on #45
Just rated the other day.  The module has been a lifesaver in the process of moving from a modified WAR version of JIRA to a standalone.

[2015-01-20 21:36] mkrakowitzer commented on #1
Basic oracle support has been added as of 1.1.5

[2015-01-20 21:36] #1 closed

[2015-01-20 21:40] mkrakowitzer commented on #32
Added support for all except SLES and Debian 6.

SLES is not supported by the puppetlabs-postgres modules. Without this support it is cumbersome to test.

Debian 6 is just to old.

[2015-01-20 21:40] #32 closed

[2015-01-20 21:41] mkrakowitzer opened #49 "Validate all parameters"
All parameters should be validated.

Although its going to make a huge mess in the init.pp

[2015-01-20 22:10] mkrakowitzer opened #50 "Add option to install Oracle Java Connector"
Add option to install Oracle Java Connector

https://confluence.atlassian.com/display/JIRA/Connecting+JIRA+to+Oracle
https://confluence.atlassian.com/display/JIRA/Supported+Platforms
http://www.oracle.com/technetwork/database/enterprise-edition/jdbc-112010-090769.html

[2015-01-30 09:27] mkrakowitzer opened #53 "Add tests for oracle database"
Add tests for oracle database

[2015-01-30 09:28] mkrakowitzer opened #54 "Add tests for Microsoft SQL"
Add tests for Microsoft SQL

[2015-01-30 09:28] mkrakowitzer opened #55 "Add tests for AJP connector"

[2015-02-10 19:56] mkrakowitzer commented on #43
@pdirksen have you managed to resolve this issue? or have any additional information that can help me trouble shoot the problem you are having.

If not, @brycejohnson I am going to close this issue.

[2015-03-07 06:59] mkrakowitzer commented on #54
Thanks!

[2015-03-07 07:00] #54 closed

[2015-03-10 07:42] mkrakowitzer opened #61 "Make jira users shell configurable."
Make jira users shell configurable.

[2015-03-18 08:13] chihoko opened #63 "jira::facts cannot access $jira::tomcatPort"
In the class params for **jira::facts** you default **$port** to **$jira::tomcatPort** however this variable is not accessible from **jira::facts** so it defaults to nothing and I get the error _Fact file /etc/facter/facts.d/jira_facts.rb was parsed but returned an empty data set_. I know I can override it when declaring the class, but its a bug nonetheless.

[code]

[2015-03-18 08:47] mkrakowitzer commented on #63
We set $tomcatPort = 8080, in the init.pp.

[2015-03-18 12:16] chihoko commented on #63
Yes but init.pp doesn't call ::jira::facts so it can't access $tomcatPort.
If I **don't** explicitly set $port when declaring the facts class i.e.

    class { '::jira::facts':
      port => '8080',
    }

then **/etc/facter/facts.d/jira_facts.rb** looks like:
[code]

[2015-03-18 13:32] mkrakowitzer commented on #63
Strange, we are sourcing the value from the main class.  $port   = $jira::tomcatPort,
You can confirm you are calling the main class? So your manifest should be something like:

class {'jira': }
class { 'jira::facts': }

I added a test for this, and it is detecting the port value from the main class. Assuming you are doing the above, can you confirm your version of puppet and ruby?

[2015-03-18 13:46] chihoko commented on #63
My apologies, I had jira::facts declared before the main class so $port wasn't available when jira::facts was declared. I don't know if this is worth pointing out in the docs.

Thanks for the awesome module and quick upgrade to 6.4 today!

[2015-03-18 14:16] mkrakowitzer commented on #63
For the next release jira::facts will be a private class and included by default. I recently did this for the stash module and noone has complained :)

 Thanks for taking the time to log issues btw, I do appreciate it.

If its not to much trouble, please rate the module on the forge (Thanks in advance).

[2015-03-27 10:28] mkrakowitzer commented on #61
Done.

[2015-03-27 10:28] #61 closed

[2015-04-17 11:23] #55 closed

[2015-04-18 08:58] mkrakowitzer commented on #43
@pdirksen Could you please let me know if this is possibly resolved? I recently added future parser to our testing and I could reproduce this issue. It should be fixed in 1.2.0

[2015-04-18 13:48] pdirksen commented on #43
It works now.
Thanks

[2015-04-18 13:48] #43 closed

[2015-04-22 00:11] tedivm opened #73 "consolidate db, dbtype, and dbdriver"
Right now you have to set three configs in order to accomplish the switching between one database type and another. I think it makes far more sense to change the dbtype and dbdriver values based off of what people set for db.

[2015-04-24 18:32] mkrakowitzer commented on #73
+1, agree 100%

[2015-05-15 07:46] Conzar opened #76 "Add SSL Support"
Can you please add SSL [support](https://confluence.atlassian.com/display/JIRA/Running+JIRA+over+SSL+or+HTTPS#RunningJIRAoverSSLorHTTPS-commandline)?

[2015-05-15 09:12] stack72 commented on #76
Do you think it is possible to use something like Nginx to SSL Proxy jira?

[2015-05-15 09:21] Conzar commented on #76
This seems to work without having to modify the jira configuration at all.  So maybe its not worth adding since apache can handle it?
{code}
  class { 'apache':
    mpm_module    => 'prefork',
    default_vhost => false,
    require       => Postgresql::Server::Db ['jira'],
  }

  class { 'apache::mod::php':
  }

  class { 'apache::mod::rewrite':
  }

  class { 'apache::mod::wsgi':
  }

  class {

[2015-05-15 09:31] stack72 commented on #76
@Conzar that's great news. I think the documentation for the module can just be updated to show your example code. I'm not a massive fan of complicating systems and SSL Termination works a lot of the time for me :)

[2015-05-15 23:36] Conzar commented on #76
Well, not so good news.  It seemed to work on a fresh install of Jira.  But it didn't work on an existing install of jira.  Essentially, it was getting a proxy timeout error.  Does anything need to change on the server.xml?

Here is the main error:
[code]

[2015-05-16 08:38] stack72 commented on #76
@Conzar this article may be of use to you

https://confluence.atlassian.com/display/STASH/Securing+Stash+behind+nginx+using+SSL

[2015-05-16 09:26] Conzar commented on #76
Do you think the changes required to the connector in the server.XML should be rolled into this module?

[2015-05-21 19:48] ghorsman opened #77 "Add support for handling archive permisions on hardened servers"
Hi,

The module downloads the file as the puppet user (in this case root) and then attempts to untar the module as the jira user. This fails if the server is hardened and restricts permissions on downloaded files. We have to work around this by adding the following heira:

[code]

You'll note this has to reference the version-specific file so when attempting any upgrade you have to change these na

[2015-05-26 19:29] mkrakowitzer commented on #76
@conzar The scheme should be https. I will add some examples on how to do this with the puppet apache and puppet nginx modules. This is the way I would recommend setting it up.

That being said i think we could role in the required https settings into this module. I will take a look at it.

[2015-06-04 21:14] rmaika commented on #36
@mkrakowitzer did you decide against doing this or just never get around to it?

[2015-07-14 04:05] nathonfowlie commented on #73
Another up vote for this one. I only skimmed through the documentation and was quite confused when it was defaulting to Postgres despite the fact I'd set dbtype and dbdriver. Would be good to pivot off the "dbtype" setting to select the appropriate driver and default port (but keep the dbport option for non-standard configurations).

[2015-08-05 17:45] #76 closed

[2015-08-05 21:53] Conzar commented on #76
I have switched to using reverse proxies in Apache (for port 80 to 8080 traffic).  What needs to be done to use ssl?  I saw you added the following:
[code]

[2015-08-06 16:25] mkrakowitzer commented on #76
No proxy is specific to tomcat, Setting the tomcat connector:
[code]
will cause servlets inside this web application to think that all proxied requests were directed to www.mycompany.com on port 443 using https. More detail here: http://tomcat.apache.org/tomcat-6.0-doc/config/ajp.html#Attributes

AFAIK its required if you are doing ssl offloading with reverse proxying via apache/nginx.

[2015-08-08 03:35] tohuwabohu opened #84 "Move to puppet-archive in order to support archive checksum validation"
The module should verify the checksum of the downloaded JIRA archive in order to make sure it has not been manipulated. The [puppet-archive](https://github.com/puppet-community/puppet-archive) module provides this functionality. IMHO, no module should download artifacts from external sources without ensuring the file's integrity.

As a workaround, the following code could be used

[code]

[2015-08-08 03:44] tohuwabohu opened #85 "Add support to configure AJP as the only enabled connector"
Running JIRA behind an Apache reverse proxy enables the usage of [AJP](https://tomcat.apache.org/tomcat-4.0-doc/config/ajp.html) to do all communication via the AJP rather than HTTP. Unfortunately, the module still requires to configure the regular tomcat HTTP connector.

Being able to disable the HTTP connector and only use the AJP one would make the configuration a bit cleaner.

[2015-09-08 23:38] Cinderhaze opened #88 "osfamily vs operatingsystem in params"
On an amazon AMI, $::osfamily is RedHat, but $::operatingsystem is Amazon.  the problem is that the $::operatingsystemmajrelease is 2015, when the conditional only looks to see if it is 6 or 7.  This results in no 'default' option under RedHat.

The correct defaults for the Amazon AMI are the same as RedHat 6

I'm not sure what the best fix would be... switching to $::operatingsystem instead of $:

[2015-09-09 14:03] mkrakowitzer commented on #88
Switching to $::operatingsystem would mean you would need to cater for other Redhat variants such as Centos and Scientific, although it would probably read better.  Would you be happy to submit a patch for above? I am happy with either option.

[2015-09-10 23:48] Cinderhaze commented on #88
Sure!  I ran into an issue with the same thing before using the elasticsearch module
https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/params.pp

I'll do something similar to the service parameters section

[2015-09-11 04:05] Cinderhaze commented on #88
My PR was merged, closing...
https://github.com/puppet-community/puppet-jira/pull/89

[2015-09-11 04:05] #88 closed

[2015-09-15 07:26] oysteing opened #90 "SSL does not work with proxy"
When using SSL and proxy together, Tomcat fails on startup with

Example declaration:
[code]

The server.xml.erb template should not add scheme twice in this case.

[2015-09-17 21:56] adamcrews commented on #50
I'm thinking I'll take a stab at this, but Oracle makes it difficult to automatically download their files.  You must accept a license agreement on the Oracle webpage which then sets a cookie that allows the download to happen.  I can do this in the module, but the easiest way is to use the nanliu/archive module instead of staging or deploy to fetch and place the various downloaded bits.

So the a

[2015-09-18 07:41] mkrakowitzer commented on #90
Thanks for the patch.

[2015-09-18 07:41] #90 closed

[2015-09-18 07:48] mkrakowitzer commented on #50
I kept support for deploy to remain backwards compatible as it was the original module used. I think lets drop support for both deploy and staging in favour of archive, it would require a major version bump though.

re downloading files from oracle, I do this with the deploy  module, I am sure its possible with staging/archive. See example here: https://github.com/puppet-community/puppet-jira/blob

[2015-09-21 15:21] igalic commented on #85
how so?

[2015-09-21 15:25] igalic commented on #50
:+1:

[2015-09-21 20:48] adamcrews commented on #50
In case anyone else happens on this ticket, I've got this mostly done and expect to have all the tests passing in the next couple days.

[2015-09-22 09:42] tohuwabohu commented on #85
* one less connector so simpler server.xml,
* one less open port on the host,
* one less parameter that I have to specify in order to make sure the port is bound to localhost only and not accessible from the internet

[2015-09-22 11:16] igalic commented on #85
okay.

would you like to submit a patch?

[2015-09-24 20:39] adamcrews commented on #50
The ojdbc drivers are behind a login wall.  I was figuring I could step around the license accept checkbox with a cookie just like you can with the java downloads, but that is not the case for the ojdbc drivers.  You need both the cookie and auth credentials.  So.... I'll do a PR shortly that will let you specify your own download url for the drivers, and add a note to the docs on why you can't au

[2015-09-24 21:23] adamcrews commented on #50
Haha, the jokes on me (and everyone else).  The tar version of Jira that this module installs includes a ojdbc driver.  A user only needs to add the driver if they are using the WAR file distribution.  Since this module does not support setting jira up via war file, I think this ticket can just be closed.

Step 2 of this page documents this.  https://confluence.atlassian.com/jira/connecting-jira-t

[2015-10-03 02:52] tohuwabohu commented on #85
Assuming I would remove the connector. The custom fact which is revealing the current JIRA version would then have to talk to the Apache sitting in front of JIRA.

Do you think adding support for HTTPS is the only thing that's missing (besides dealing with self-signed certificates)? Or are there other things that could break?

[2015-10-06 12:05] BurningTheSky opened #93 "MySQL Connector fails to download"
Puppet is unable to pull the file because of a 404 error, is there a workaround or am I doing something wrong?

Notice: /Stage[main]/Jira::Mysql_connector/Staging::File[mysql-connector-java-5.1.34.tar.gz]/Exec[/opt/staging/jira/mysql-connector-java-5.1.34.tar.gz]/returns: curl: (22) The requested URL returned error: 404 Not Found
Error: curl  -f -L -o /opt/staging/jira/mysql-connector-java-5.1.34.

[2015-10-07 09:37] BurningTheSky commented on #93
Changed it using the jira::mysql_connector_URL variable, should have looked for that sooner

[2015-10-07 09:37] #93 closed

[2015-10-07 17:17] chihoko opened #95 "Upgrade to Jira Software v7"
Does the module support upgrading to v7 yet? If not are there any plans to support v7 in the near future?

[2015-10-11 09:37] mkrakowitzer commented on #95
There is a pull request in progress to add support for V7 and puppet 4. Hopefully wont be to long now.

[2015-10-11 21:52] Conzar commented on #95
Well, Jira 7 apparently doesn't have a zip format available for download.  Its only a .bin file.  I don't know why they went this route --- maybe reducing the number of builds is easier for them at this point?

[2015-10-12 05:28] mkrakowitzer commented on #95
Its available here, new naming convention though :(
https://downloads.atlassian.com/software/jira/downloads/atlassian-jira-software-7.0.0-jira-7.0.0.tar.gz

[2015-10-13 06:40] jared-di commented on #95
JIRA Core
https://downloads.atlassian.com/software/jira/downloads/atlassian-jira-7.0.0.tar.gz

JIRA Software (JIRA + Agile)
https://downloads.atlassian.com/software/jira/downloads/atlassian-jira-software-7.0.0-jira-7.0.0.tar.gz

JIRA Service Desk (JIRA + Service Desk)
https://downloads.atlassian.com/software/jira/downloads/atlassian-servicedesk-3.0.0-jira-7.0.0.tar.gz

[2015-10-29 04:07] jared-di commented on #95
@mkrakowitzer, is there an ETA when JIRA 7 support will be available?

[2015-11-04 15:26] fredfokan opened #102 "puppet-jira -- Upgrade howto & addons management questions"
Hello,

I'm a new user of this Puppet-JIRA module.
Making a quick overview of this module, find below my question about it :
- How do you proceed with all addons contained in JIRA.
- How do you proceed for any upgrade from one existing JIRA instance not managed by Puppet to a new one managed by puppet.
- How do you manage further Jira upgrade.

Thanks by advance for any feedback on above point !

[2015-11-13 05:45] xtra-be commented on #95
any progress on this one?
what are the blocking issue's?

[2015-11-17 16:47] igalic commented on #95
from what i understand, @mkrakowitzer is currently in a cave working on this, and stash → bitbucket

[2015-11-17 19:59] LTangaF opened #103 "Add workaround for staging strip with zip archive"
'strip' parameter of staging archive is unsupported with zip files.  Sometimes corporate environments (environments) will have the zip archive available and the tar.gz archive not.

In order to use the zip archive with this module, one has to workaround the lack of strip support in staging for zip archives.

[2015-11-17 20:00] LTangaF commented on #103
I have a fix already for this and will be submitting the PR shortly.

[2015-12-21 03:18] felipe1982 opened #111 "Download path is wrong"
Error: curl  -f -L -o /opt/staging/jira/atlassian-jira-7.0.5.tar.gz http://www.atlassian.com/software/jira/downloads/binary//atlassian-jira-7.0.5.tar.gz returned 22 instead of one of [0]
    Error: /Stage[main]/Jira::Install/Staging::File[atlassian-jira-7.0.5.tar.gz]/Exec[/opt/staging/jira/atlassian-jira-7.0.5.tar.gz]/returns: change from notrun to 0 failed: curl  -f -L -o /opt/staging/jira/atlass

[2015-12-21 03:26] rhoml commented on #111
@felipe1982 have you tried modifying `$format` to `bin` instead of tar.gz?

[2015-12-21 03:32] felipe1982 commented on #111
I get an error when changing format.

[code]

    Error: Could not retrieve catalog from remote server: Error 400 on SERVER: staging::extract: unsupported file format atlassian-jira-7.0.5.bin. at /etc/puppet/modules/staging/manifests/extract.pp:102

[2015-12-21 03:40] rhoml commented on #111
So i tried to download the Jira tar.gz from https://downloads.atlassian.com/software/jira/downloads/atlassian-jira-software-7.0.5-x64.tar.gz and it works properly. I don't have clear understanding why it is downloading from
http://www.atlassian.com/software/jira/downloads/binary//atlassian-jira-7.0.5.tar.gz in your case above since the only place where I see that download url is on the specs.

[2015-12-21 03:42] rhoml commented on #111
So i tried to download the Jira tar.gz from https://downloads.atlassian.com/software/jira/downloads/atlassian-jira-software-7.0.5-jira-7.0.5.tar.gz and it works properly. I don't have clear understanding why it is downloading from
http://www.atlassian.com/software/jira/downloads/binary//atlassian-jira-7.0.5.tar.gz in your case above since the only place where I see that download url is on the spec

[2015-12-21 03:46] felipe1982 commented on #111
I have removed format and downloadURL.

Now module tries to fetch
[code]
but should fetch
[code]

[2016-01-03 21:35] oysteing opened #112 "Unable to provide own configuration options in jira-config.properties"
After commit e2f929f820b03af7d81c508714e298d533841bec, I'm not able to set custom configuration in jira-config.properties anymore, as the file is now controlled by puppet-jira.

There are no options for providing own properties, and the only reason for managing this file was to disable WebSudo.

A number of solution would be acceptable to most users:
- Don't manage the file unless the default sett

[2016-01-04 12:50] igalic commented on #112
@oysteing all of those sound like sensible options.
i think i'd prefer the third.
would you like to take a stab at providing a patch?

[2016-01-07 14:40] oysteing commented on #112
Sure. I've created pull request #113.

[2016-02-01 10:34] ronaldvanrij opened #116 "Manage the session timeout"
Currently it is not possible to set the session timeout using the module. This setting can be altered in the web.xml file, which is currently not managed. The way I see it there are two options for adding this feature:

1. Use a template, like the server.xml file is created
2. Manage the file with Augeas

In this particular case, as web.xml is quite a large file and not really mend to be edited (a

[2016-02-10 14:01] Floryder opened #117 "Jira don't want to use my created database"
Hey there,

i become desperate with die jira-module.
How will jira write in the created Database "jira". In my case the used parameteres are only used for the dbconfig.xml. If I watch the MySQL DB, it is empty. And then I tried the config.sh from the bin-directory. There I saw that Jira is still using the default Database. If I change the DB-settings in this config jira will work. But this should

[2016-02-12 06:59] jUsjDnr9vNok4kelSGyl commented on #95
Any progress on this? I'm tempted to just install manually from the Atlassian package soon.

[2016-02-12 14:36] spacepants commented on #95
@jUsjDnr9vNok4kelSGyl v7 support was added in #107.

[2016-02-12 19:39] Conzar commented on #95
So when is the next release which will include v7 support?

[2016-02-16 03:43] luke-vidler commented on #36
+1

[2016-02-19 12:14] pdirksen opened #118 "Systemd support for debian 8 jessie"
Please support the current debian stable by using a systemd start script.

[2016-02-19 12:16] pdirksen commented on #95
Please merge the related pull request.

[2016-02-22 18:43] jyaworski commented on #118
#119 should have fixed this.

[2016-02-22 18:43] #118 closed

[2016-02-23 00:30] jared-di opened #120 "JIRA 7.1.x compatibility"
New line needs to be added to the dbconfig.xml file when using MSSQL

[code]

More information here: https://jira.atlassian.com/browse/JRA-59768

[2016-03-01 11:01] djmentos opened #121 "Basic usage - Could not find class staging."
Hello,

I encountered an issue while testing module under Profile/Role architecture.

/manifests/site.pp:

/modules/role/manifests/jira.pp:

/modules/profile/manifests/jira_instance.pp:

Puppet returns:

Is it a bug, or just I am doing something wrong?

[2016-03-01 14:20] jyaworski commented on #121
Do you have [puppet-staging](https://github.com/voxpupuli/puppet-staging) in your environment?

[2016-03-02 07:00] djmentos commented on #121
That's right, forgot to copy it. Sorry for unnecessary trouble.

[2016-03-02 07:00] #121 closed

[2016-03-02 16:40] siwilkins opened #122 "systemd support for Debian 8 breaks Ubuntu"
Commit 47226b0 enables systemd support for Debian >= 8 based on osfamily and operatingsystemmajrelease, but this breaks ubuntu, where osfamily == 'Debian' and operatingsystemmajrelease is based on the year.

[2016-03-07 04:12] jyaworski opened #124 "Use service_provider for init management"
We should use service_provider to ship init files.

[code]

[2016-03-07 04:13] #122 closed

[2016-03-07 04:14] jyaworski commented on #116
I would second using augeas with xml files.

[2016-03-09 14:30] igalic commented on #95
closing with #107 merged

[2016-03-09 14:30] #95 closed

[2016-03-09 17:37] igalic commented on #124
i'm still not sure about service_provider's usefulness

on my 16.04 machine it's still reporting debian, not systemd…

[2016-03-09 17:38] igalic commented on #120
@jared-di would you like to provide a patch for that?

[2016-03-09 18:48] jyaworski commented on #124
@igalic sounds like a bug for facter.

[2016-03-09 18:50] igalic commented on #124
or puppet, rather, given how the fact is implemented: https://github.com/puppetlabs/puppetlabs-stdlib/blob/master/lib/facter/service_provider.rb

[2016-03-09 21:35] asasfu commented on #124
This is because the version of puppet you're on doesn't support Ubuntu 16.04 so it hasn't made systemd.rb the provider for service...  That's truly how that fact operates.

[2016-03-09 21:56] igalic commented on #124
4.3.2 :O

[2016-03-12 03:37] jyaworski commented on #44
@mkrakowitzer ping. Is this still an issue?

[2016-03-12 03:38] jyaworski commented on #49
Do you mean validate_*? I agree.

[2016-03-12 09:57] dhoppe commented on #49
I think we should cleanup ```voxpupuli/stash``` and use this as baseline for ```voxpupuli/confluence``` and ```voxpupuli/jira```.

[2016-03-12 18:44] igalic commented on #49
@dhoppe do it so, :hash: :one:

[2016-03-14 19:03] philchristensen commented on #111
I'm having the same issue. My manifest reads as follows:

[code]

I've read and re-read the source and I cannot figure out why this is trying to download the link from

[code]

[2016-03-14 19:08] philchristensen commented on #111
Aha! I found a workaround at least:

[code]

[2016-03-22 14:08] #84 closed

[2016-03-30 14:02] nomoresecrets opened #134 "how can I use this module to deploy jira with servicedesk?"
I tried defining product => 'servicedesk' but it looks like the download fails.

I can see a file "atlassian-servicedesk-3.1.2.tar.gz_..." under /tmp. The correct filename seems to be "atlassian-servicedesk-3.1.2-jira-7.1.2.tar.gz".

Best regards,

Denny

[2016-03-31 06:40] nomoresecrets commented on #134
Closed. I simply added ServiceDesk within the deployed Jira instance.

[2016-03-31 06:40] #134 closed

[2016-04-05 13:12] tgeci opened #135 "Incompatible server.xml with Apache Tomcat/8.0.17 / Jira 7.1.2"
Hi,
the bundled tomcat will not start because of a deprecated class in server.xml.erb.

`
    <Listener className="org.apache.catalina.core.JasperListener"/>
 `
Just remove it from template server.xml.erb to be compatible.

[2016-04-07 16:56] Dharmender-Singh opened #136 "Error: Could not autoload puppet/parser/functions/scope_defaults:"
Hi,

I am facing an issue while using this module. Following is the Error :

  Error: Could not autoload puppet/parser/functions/scope_defaults: /tmp/ki
tchen/modules/staging/lib/puppet/parser/functions/scope_defaults.rb:2: syntax er
ror, unexpected ':', expecting ')'
         newfunction(:scope_defaults, type: :rvalue, doc: <<-EOS
                                    ^
       /tmp/kitchen/modules/

[2016-04-07 20:18] jyaworski commented on #136
Are you using Ruby 1.8.7?

[2016-04-08 11:09] Dharmender-Singh commented on #136
Yes, That's right.

[2016-04-08 14:11] jyaworski commented on #136
We dropped support for ruby 1.8.7. That error you're seeing is related to the new hash syntax present in 1.9 and beyond.

[2016-04-11 10:06] Dharmender-Singh commented on #136
Ok..Thanks

[2016-04-11 10:06] #136 closed

[2016-04-12 09:22] ivantichy opened #137 "Seems to be obsolete - JIRA 7.1.4"
I tried to used this module do install actual JIRA version 7.1.4 but even wget did not download installation files. Is this module obsolete?

[2016-04-12 13:08] dkossako opened #138 "HTTP to HTTPS redirect"
Hello,

is it possible to redirect HTTP requests to HTTPS using this module?

[2016-04-18 05:49] AlexanderNZ commented on #111
Thanks @philchristensen - your work around works well for jira versions between 7.1.1 and 7.1.4.
Hopefully this issue gets some love soon :)

[2016-04-18 08:45] sacres commented on #111
iApparently we need a magic regex for this, this isn't scalable nor maintainable as is. I'll see how far I get with that.

[2016-04-20 05:40] jyaworski commented on #138
Initial findings: no.

We recommend using apache/nginx for this. We have this in the docs:

https://github.com/voxpupuli/puppet-jira#jira-prerequisites

Whilst not required, for production use we recommend using nginx/apache as a reverse proxy to JIRA. We suggest using the jfryman/nginx puppet module

[2016-04-20 07:01] djmentos commented on #138
I found this setting:
https://github.com/voxpupuli/puppet-jira#tomcat_redirect_https_port

But it doesn't work (looks is not implemented):
`templates/server.xml.erb:        <Connector port="<%= @tomcatPort %>"
templates/server.xml.erb:                   <%- if @tomcatAddress -%>
templates/server.xml.erb:                   address="<%= @tomcatAddress %>"
templates/server.xml.erb:

[2016-05-06 12:11] rnelson0 opened #143 "Release new version"
There has been a lot of work done on this module since the last release, 1.3.0, in Aug of 2015. It looks like it is probably time for a new release.

* Are there urgent PRs/issues that need resolved first?
* Should the next version be 1.4.0 or 2.0.0?

[2016-05-08 12:54] igalic commented on #143
once we have a release-pipeline for this module, releasing a new version with urgent issues fixed is easy. We'll know which version to release, when we start writing the Changelog ;)

[2016-05-21 12:34] bastelfreak commented on #143
we just did a fresh modulesync, good time for a release.

[2016-05-26 02:54] noemif opened #146 "Oracle connection string incorrect"
In init.pp line 215, it should be
`"jdbc:${db}:thin:@//${dbserver}:${dbport}/${dbname}"`
instead of
`"jdbc:${db}:thin:@${dbserver}:${dbport}:${dbname}"`

Just tested this with Jira 7.1.7 and Oracle Database 11g Enterprise Edition Release 11.2.0.3.0

[2016-05-26 09:11] alexjfisher commented on #146
@noemif https://docs.oracle.com/cd/E11882_01/appdev.112/e13995/oracle/jdbc/OracleDriver.html suggests the current code is correct.  Could you double check?

[2016-05-26 09:22] noemif commented on #146
Thanks for researching this issue, Alex !

I checked a few docs online, too, and wasted quite a bit of time on that.
In the end, the syntax I submitted above:
- is what I had in my current (working) jira prod config
- is what was spat out by Atlassian's own config tool (${webappdir}/bin/config.sh)
- is what ultimately got my new jira instance to connect to the DB
So it is puzzling, but the proof i

[2016-05-26 11:41] jarshwah commented on #146
The difference is between whether the dbname is a SID or Service Name. Both need to be supported depending on how oracle server has been deployed.

[2016-05-26 16:54] bastelfreak commented on #143
released

[2016-05-26 16:54] #143 closed

[2016-05-30 08:17] pckls commented on #135
This has broken a previous working Vagrant I was experimenting with:

[code]

[2016-06-07 19:29] krinkere opened #149 "Error: Download file checksum mismatch"
Created very simple pp file

class { 'jira':
    javahome    => '/opt/java',
    version     => '6.4.13',
  }

and getting this:

Error: Download file checksum mismatch
Error: /Stage[main]/Jira::Install/Archive[/tmp/atlassian-jira-6.4.13.tar.gz]/ensure: change from absent to present failed: Download file checksum mismatch

[2016-06-07 19:37] krinkere commented on #149
never mind. had to add checksum to init.pp file and now it works

[2016-06-07 19:37] #149 closed

[2016-06-08 14:37] krinkere commented on #135
Tried to install latest Jira and server.xml was incompatible. I had to replace server.xml.erb with server.xml that I got from Jira download, and it worked like magic. So that's a quick workaround if you see java.lang.ClassNotFoundException: org.apache.catalina.startup.VersionLoggerListener error

[2016-06-08 16:10] krinkere opened #150 "Can't create parent directories if they dont exist"
While README file states that you can do something like this
homedir      => '/opt/atlassian-jira/jira-home',

it wont work if atlassian-jira does not exist

[2016-06-08 17:52] krinkere commented on #150
As a workaround for now...
groupadd jira
useradd jira -g jira

mkdir -p /opt/atlassian/jira
chown -R jira:jira /opt/atlassian/
chmod -R 755 /opt/atlassian/

mkdir -p /var/atlassian/application-data/jira
chown -R jira:jira /var/atlassian/
chmod -R 755 /opt/atlassian/

then in actual manifest

class { 'jira':
  version    => '6.4.13',
  installdir => '/opt/atlassian/jira',
  homedir    => '/var/atla

[2016-06-08 19:53] jyaworski commented on #150
This is assuming the directory structure exists from the package being installed, IIRC.

[2016-06-08 20:55] krinkere commented on #150
i guess it was not clear...
documentation said to provide the install/home directories and by looking at init.pp it would even create jira user and group for you, which is nice - so i assumed it would create parent directories too if needed.

But it is a small thing with a workaround. Perhaps documentation fix is all that is needed here.

[2016-06-08 20:58] jyaworski commented on #150
Creating directory structures is hard in puppet. Well, hard to do correctly. https://forge.puppet.com/pltraining/dirtree is the most elegant way I've seen it done to-date. @bastelfreak what do you think?

[2016-06-09 04:25] juniorsysadmin commented on #150
I'm not in favor of making dirtree a dependency

[2016-06-09 10:59] bastelfreak commented on #150
Dealing with directories is always a bit painful. @juniorsysadmin why shouldn't we make it as a dependency?

[2016-06-16 19:16] aharden opened #151 "jira::facts don't work with All-in-One Puppet 4.x agent"
The AIO agent moved its ruby to /opt/puppetlabs/puppet/bin/ruby.  "PE" detection logic in jira::facts hasn't been adjusted for the AIO agent.  As a result, on nodes with the AIO agent, jira_facts.rb exists at both /etc/facter/facts.d/ and /etc/puppetlabs/facter/facts.d, and neither has a path to ruby that works, so both report Facter errors on agent runs.  I know that changing the shebang in jira_

[2016-06-16 21:52] bastelfreak commented on #151
thanks for reporting this. It would be very cool if you can spin up a PR. We should be able to review + merge  + publish a fixed version in a short timeframe.

[2016-06-24 16:12] krinkere commented on #150
+1 for dependency. At least that's what I end up doing.

[2016-06-26 07:07] juniorsysadmin commented on #150
@bastelfreak I would rather that we do a conditional ```ensure_resource()``` for the parent directory/directories, but only if we are using the defaults - which I assume reflect what directories the upstream Jira binary installer creates
eg.
[code]

[2016-07-04 02:09] dpisano commented on #151
I think that I figured out the logic to detect the AIO agent. Don't know if it will work with the AIO agent for PE. I don't have a way to test it on other version of puppet to see if still works with them. I can summit a PR to have you take a look at it.

[2016-07-06 19:53] jjthiessen commented on #137
Jira 7 support was claimed to have been added in module version 2.0.0 (2016-05-26). I understand that your issue/comment was from before then (2016-04-12). Have you since tried with the 2.0.0 release of the module?

[2016-07-07 10:31] ivantichy commented on #137
No, I rather created Docker image: https://hub.docker.com/r/ivantichy/jira/

[2016-08-08 10:13] olevole commented on #111
Up issue.

For 7.1.9 we need to change postfix:

[code]

Can anyone fix this problem ?

[2016-09-07 09:43] djmentos opened #159 "Unable to install JIRA 7.2.x."
### Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 3.8.5
- Ruby: 2.3.1
- Distribution: Ubuntu 16.04
- Module version: latest

### How to reproduce (e.g Puppet code you use)

### What are you seeing
[code]

### What behaviour did you expect instead
Installed JIRA.

### Output log

### Any additional information you'd like to impart
Atlassian has changed name convention. New

[2016-09-07 11:07] djmentos commented on #138
There is missing change in WEB-INF/web.xml to allow HTTP -> HTTPS redirect, like described here:

https://confluence.atlassian.com/adminjiraserver071/running-jira-applications-over-ssl-or-https-802593051.html

[2016-09-09 10:03] Skarzee commented on #159
Can confirm, naming convention needs to be adhered too. You can unconventionally and incorrectly wget the file and manually extract it to your $install_dir if you're looking for a work around, may need a systemctl daemon-reload, but a PR is needed to update the repository.

[2016-09-09 10:58] djmentos commented on #159
Pull request with fix has been merged.

[2016-09-09 14:07] alexjfisher commented on #159
@djmentos Thanks.  Fixed in https://github.com/voxpupuli/puppet-jira/pull/160

[2016-09-09 14:07] #159 closed

[2016-09-14 20:00] ryandb opened #162 "Parameter 'pool_test_on_borrow' does not affect mysql dbconfig.xml"
### Affected Puppet, Ruby, OS and module versions/distributions
- Puppet:
- Ruby:
- Distribution:
- Module version:
### How to reproduce (e.g Puppet code you use)

[code]
### What are you seeing

pool_test_on_borrow setting is not in dbconfig.xml
### What behaviour did you expect instead

The following should be in dbconfig.xml:
    <pool-test-on-borrow>false</pool-test-on-borrow>
### Output log
#

[2016-09-21 19:51] AnthonyMastrean opened #167 "CentOS 6 support?"
Maybe I'm missing something...

CentOS 6 ships with Ruby 1.8.7 and no better version in the package repository. Puppet uses the system Ruby. You can't update Ruby using, say RVM, before running `class { 'jira': }` because Puppet is still running under the system Ruby.

How do you drop support for Ruby 1.8.7 and claim to support CentOS 6?

Let's say I don't control my system image (corporate privat

[2016-09-21 20:24] alexjfisher commented on #167
All Vox Pupuli modules have finished supporting ruby 1.8.  Ordinarily I'd say EL6 support is still claimed because puppet 4 is installable and ships with its own ruby 2.1 (IIRC).  This particular module doesn't claim to be puppet 4 compatible though...

That said, you should be OK.  This module doesn't have any functions, facts or native types/providers, so the fact that it isn't tested/supported

[2016-09-21 20:29] alexjfisher opened #168 "Puppet 4 support?"
According to the `metadata.json`, puppet 4 isn't supported.  Is this true?

[2016-09-21 20:34] AnthonyMastrean commented on #167
Oh, see I'm so far behind, I didn't realize Puppet 4 shipped with it's own Ruby. That might do the trick, although I'll have to update all my manifests.

I thought I saw some errors due to Ruby 2 hashes, but that might have been one of the dependencies.

[2016-09-21 20:37] #167 closed

[2016-09-21 20:50] alexjfisher commented on #167
@AnthonyMastrean No worries.  I think puppet 3 is End Of Life at the end of this year.  One way to start your migration might be to enable puppet 3's future parser option and see what that throws up.

[2016-09-21 20:53] AnthonyMastrean commented on #167
Yeaaah. I'm screwed :)

[2016-09-24 07:55] #135 closed

[2016-10-03 05:39] dpisano commented on #168
The only thing that I have found that does not work on Puppet 4 is jira::facts. (#151) I have been running a local fix for that and have had not come across any other problems.

[2016-10-18 06:26] #111 closed

[2016-10-18 06:28] felipe1982 opened #173 "Error: /Stage[main]/Jira::Install/Archive[/tmp/atlassian-jira-software-7.2.3.tar.gz]/ensure: change from absent to present failed: Download file checksum mismatch"
I am getting an error

**Error: /Stage[main]/Jira::Install/Archive[/tmp/atlassian-jira-software-7.2.3.tar.gz]/ensure: change from absent to present failed: Download file checksum mismatch**

When trying to run the below manifest on RHEL 7 Vagrant. `puppet-archive` is version 1.1.2.

[code]

[2016-10-20 04:31] dpisano commented on #173
I had to add the checksum to my jira class to get it to work.

[2016-10-20 05:24] dhoppe commented on #173
I think this happens since we use archive as default, because we set `checksum` to `undef` but `checksum_verify` defaults to `true`.

We need to set the checksum for version 6.4.1 and fix the documentation / rspec tests.

[2016-10-20 05:26] felipe1982 commented on #173
How did you obtain the checksum in the first place?

[2016-10-20 05:28] dpisano commented on #173
I downloaded the archive file locally and computed the md5 checksum.

[2016-10-20 05:39] dhoppe commented on #173
Unfortunately they do not provide the checksum or a file to verify against.
https://jira.atlassian.com/browse/JRA-60845

[2016-10-20 05:41] felipe1982 commented on #173
How do we set `checksum_verify` to `false` ?

[2016-10-20 06:33] sacres commented on #173
I was wondering why I hadn't come across this nor could reproduce it. Rather than the archive module, use the deploy module (as mentioned in the [README](https://github.com/voxpupuli/puppet-jira#upgrades-to-the-jira-puppet-module) )
`deploy_module          => 'deploy',`

[2016-10-20 06:36] sacres commented on #173
Edited last comment with the _correct_ param. x_X
`deploy_module => 'staging',`

[2016-11-03 18:06] shollingsworth commented on #162
Bump

[2016-11-03 22:25] bastelfreak commented on #162
The PR got merged so I think we can close this?

[2016-11-03 22:25] #162 closed

[2016-11-05 02:15] sacres commented on #137
This module definitely supports 7 (as well as upgrading from 6 to 7).

[2016-11-05 02:17] sacres commented on #173
@felipe1982 Have you resolved this as recommended?

[2016-11-05 06:34] felipe1982 commented on #173
@sacres : thanks for checking in. I have not yet tried `staging`, but I do believe that this module does *not* work out of the box to install Jira.  I'll give it a try in a few weeks when I get a chance to play/use/upgrade JIRA again at my office.

Thanks.

[2016-11-05 11:20] ivantichy commented on #137
Maybe today.. :)

[2016-11-08 03:47] ryandb commented on #162
thx

[2016-11-09 11:29] #112 closed

[2016-11-11 22:11] sacres commented on #120
This line should be added according to the code:
[CONFIG](https://github.com/voxpupuli/puppet-jira/blob/master/manifests/config.pp#L28) &
[DBCONFIG SQLSERVER](https://github.com/voxpupuli/puppet-jira/blob/master/templates/dbconfig.sqlserver.xml.erb#L16)
Isn't this the case with the current release now @jared-di ?

[2017-01-02 12:00] sacres commented on #138
@djmentos This works as expected.
`To be used with tomcat_native_ssl. ` is the salient qualifier in the you're referring to and also requires addressing JKS.
If you would like a production example of how to proxy via apache/nginx (SSL termination at proxy frontend and 80 -> 443 redir), I can provide you with that.

[2017-01-13 15:35] ericlaflamme commented on #138
Yes, it was working on jira6

jira::tomcat_native_ssl:         true
jira::tomcat_redirect_https_port: '443'

All request sent to 80 and redirect to 8080 per iptables will be redirect to port 443. By default it will redirect to 8443 because it's the real port. Then I redirect 443 to 8443 with iptables.

I might work on the code for the web.xml for jira7.1

[2017-01-16 10:02] sacres commented on #173
@felipe1982 I'm closing this as we have added patches to remedy checksum issues as well as defining the archive module as default in the code and the README.md. Feel free to reach out if you still encounter issues. Thanks!

[2017-01-16 10:02] #173 closed

[2017-04-11 09:31] dkossako opened #213 "Connector class incompatibility since JIRA 7.3.0."
Hello,

since JIRA 7.3.0 Atlassian has changed name of http connector class and puppet-jira module is incompatible. More info about the change:
https://www.reddit.com/r/jira/comments/5m1n8z/fyi_ssl_jira_fail_in_730_unless_you_change_your/

- Puppet: 3.8.5
- Ruby: 2.3.1
- Module version: 3.2.0

[2017-04-27 21:30] durist opened #215 "Flags to disable management of jira user and group"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
- Ruby:
- Distribution:
- Module version: 3.1.0

## What behaviour did you expect instead

There should be flags to disable management of jira group and user by the module, as the confluence module has, to allow for centralized management.

[2017-07-13 18:15] cpepe opened #218 "Update download URL logic"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
- Ruby:
- Distribution:
- Module version:

## How to reproduce (e.g Puppet code you use)
Set jira version to 7.0.11

## What are you seeing
This module produces the download URL https://downloads.atlassian.com/software/jira/downloads//atlassian-jira-software-7.0.11-jira-7.0.11.tar.gz which is invalid.

It produces a similar

[2017-07-18 14:41] cpepe commented on #218
Since users are likely to want to upgrade to newer versions of JIRA the workaround that I plan to use is to upgrade to 7.0.4 and then on to 7.x. The only potential issue is a feature or add-on requirement to go to 7.0.11 instead of 7.0.4 but this is unlikely to crop up.

[2017-08-16 19:22] markleary commented on #213
Fixed in #219.  You will need to manually specify `$tomcat_protocol_ssl => "org.apache.coyote.http11.Http11NioProtocol"` to maintain compatibility with older versions.  Previous pull request for this issue breaks compatibility with older versions.

[2017-08-29 14:34] confiq commented on #124
default puppet version in ubuntu 16.04 is 3.8.5 and that version does not support `service_provider`

[2017-08-29 14:38] jyaworski commented on #124
We can hold on this until everything we support has it.

[2017-08-29 17:40] igalic commented on #124
hehe, it's not like we haven't been holding onto this for a year already

[2017-08-29 17:45] asasfu commented on #124
The wait is strong in here!

[2017-08-30 18:59] bastelfreak commented on #124
as a sidenode, Vox Pupuli only supports puppet 4.8 and newer, and if the module has data-in-module it is 4.9. if anybody provides a PR for this I'm happy to merge it.

[2017-10-12 22:15] vrowley commented on #213
Would it be possible for someone to set the tomcat_protocal_ssl so it defaults to "jira::tomcat_protocol                org.apache.coyote.ajp.AjpNioProtocol"

This would save anyone doing a fresh install of 7.5.0 from banging their head against the wall.

[2017-10-12 23:55] bastelfreak commented on #213
@vrowley could you provide a patch for this?

[2017-10-13 00:07] markleary commented on #213
I think the best way to do this would be to set $tomcat_protocol_ssl based on $version.  I should be able submit a pr in the next couple days if @vrowley doesn't want to.

[2017-10-13 00:57] markleary commented on #213
Ok, done #225.

[2017-10-24 00:40] vrowley commented on #218
They changed the file name between 7.0.10 and 7.0.11, so will this work from 7.0.10 to 7.x?

[2017-10-24 15:09] cpepe commented on #218
from the release logs there was 7.0.10 and 7.0.11 before the 7.1 series. The new filename seems to have been introduced with 7.0.11 so "line 51" above should use 7.0.11 instead of 7.1.9 to select the URL generator.

[2017-10-24 18:14] vrowley commented on #218
Just a quick note to say thank you.  Last night I changed my .yaml to reference 7.1.10.  I saw nullPointer errors in the logs and rage quit.  :-P
When I looked at it this morning, it was up and running.  Woo-hoo!  I obviously have errors in the logs to chase down, but at least it's operational again.

[2017-10-25 13:38] cpepe commented on #218
:-) my pleasure. I was pretty happy to find this module. Glad to contribute if only in a small way.

[2017-11-05 14:42] ekohl commented on #218
Is this still an issue or was it fixed?

[2017-11-06 19:04] cpepe commented on #218
Because the affected versions are so old we haven't looked back into this.
JIRA 7.0 went end of life on October 6 and people using this module can
simply upgrade to 7.0.11 instead of 7.0.4. They will be headed for JIRA 7.5
anyway so it shouldn't be a blocker for most people.

On Sun, Nov 5, 2017 at 9:42 AM, Ewoud Kohl van Wijngaarden <
notifications@github.com> wrote:

[2017-11-07 09:05] ekohl commented on #218
In that case I'm going to close this.

[2017-11-07 09:05] #218 closed

[2017-11-07 22:08] eriksalinenike opened #227 "Proxy bypass HTTP connector requires AJP Protocol"
Proxy bypass HTTP connector for tomcat requires the AJP protocol, however we are using Nginx as a reverse proxy.  Is there any way to set a bypass port using the HTTP/1.1 protocol?

`  if ! empty($ajp) {
    if ! has_key($ajp, 'port') {
      fail('You need to specify a valid port for the AJP connector.')
    } else {
      validate_re($ajp['port'], '^\d+$')
    }
    if ! has_key($ajp, 'protocol'

[2017-12-25 08:04] juniorsysadmin commented on #215
Fixed by #223

[2017-12-25 08:04] #215 closed

[2018-03-01 10:20] djermann opened #234 "Cannot add wished tag to server.xml"
According to this problem, https://confluence.atlassian.com/jirakb/jira-throws-java-io-filenotfoundexception-warnings-after-upgrade-869007981.html , one has to add a tag inside the server.xml file in order to get rid of the warning messages. By looking at the server.xml.erb template I found out that it is currently not possible to add tags at the wished position (Inside the Context-tag). Therefore

[2018-03-30 18:50] vrmerlin opened #239 "MySQL storage_engine problem"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.3.5
- Ruby: 2.0.0p648
- Distribution: Puppet Enterprise
- Module version: 3.4.0

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

The file dbconfig.xml is being modified by Puppet to have this JDBC URL:

```jdbc:mysql://localhost:5432/jiradb?useUnicode=true&amp;characterEncoding=UTF8&amp;sessi

[2018-03-30 20:00] bastelfreak commented on #239
I just merged https://github.com/voxpupuli/puppet-jira/pull/216 which should fix this. I'm going to release a new version now. Please report back if it doesn't fix your issue.

[2018-03-30 20:00] #239 closed

[2018-04-05 17:33] vrmerlin commented on #239
Yep, that fixed the issue! Thanks :-)

[2018-04-05 17:43] vrmerlin opened #241 "MySQL Connector is not installing with correct directory permissions"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.3.5
- Ruby: 2.0.0p648
- Distribution: Puppet Enterprise
- Module version: 3.4.1

## How to reproduce (e.g Puppet code you use)

I installed JIRA with this configuration (after a successful MySQL installation):

[code]

## What are you seeing

Everything seems to install right in Puppet, but JIRA starts up and complains it

[2018-04-12 21:30] ronech opened #242 "certain `dbconfig.xml` settings require `enable_connection_pooling => true`"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.4.0
- Ruby: 2.4.3p205
- Distribution:
- Module version: 3.3.0

## How to reproduce (e.g Puppet code you use)

## What are you seeing
Some of the postgresql DB settings in `dbconfig.xml` depend on `enable_connection_pooling` being set to `true`.  This isn't reflected in README.md, so i was puzzled when my changes were being

[2018-04-19 19:17] rigareau opened #243 "RedHat 6 Service Manifest problem"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 2017.3.4
- Ruby: Any
- Distribution: RedHat 6.9
- Module version:3.3.0 - 3.4.1

## How to reproduce (e.g Puppet code you use)
Install eazybi and configure tu run an external process to execute the reports.

Or for development and testing purposes you can just look at a log file while being logged in with the userid that is e

[2018-05-07 11:33] vidkun opened #244 "Not compatible with JIRA 7.5+ and MS SQL Server"
Module does not build out proper database url string for connecting to a MSSQL server using the new JDBC driver from Microsoft. JIRA switched over to using this new driver as of version 7.5 and requires changes to the configured connection url in `dbconfig.xml`.

Here is Atlassian's documentation on the url changes: https://confluence.atlassian.com/jirakb/updating-jdbc-url-for-microsoft-sql-server

[2018-05-07 11:44] #244 closed

[2018-05-07 11:44] vidkun commented on #244
Couldn't delete my issue, but found that I can manually set the full URL via the `dburl` parameter.

[2018-05-09 18:08] vidkun opened #245 "Support for additional cluster.properties config"
It'd be nice to be able to specify additional cluster config settings for the `cluster.properties` file. Such as:
* ehcache.listener.hostName
* ehcache.listener.port
* ehcache.object.port

Right now, manually adding them causes them to be overwritten on next puppet run by the template.

Current work around is to perform initial provisioning of a Data Center node with `datacenter => true`, then set

[2018-05-21 14:16] bastelfreak opened #248 "Debian support"
this module once listed debian 7 in the metadata.json. We removed it because it's EOL. We need to check if recent debian versions work and add them back.

[2018-06-01 10:13] ubellavance commented on #134
Hi,

I'm planning on using this module to deploy Jira Software and Service Desk. Are you still using it this way?  Any problems up to now? How did the upgrades went?

Thanks,

[2018-06-04 18:23] ubellavance commented on #134
Hi,
Thanks for your input.  Are the upgrades of both Jira Service Desk and Jira Software done via puppet?

[2018-06-05 07:35] nomoresecrets commented on #134
software gets updated via puppet and servicedesk via web-ui of jira

[2018-06-15 03:33] #242 closed

[2018-06-29 14:49] TJM opened #254 "Add H2 database support"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.2
- Ruby: ruby 2.4.3p205 (2017-12-14 revision 61247) [x86_64-linux]
- Distribution: CentOS 7.5
- Module version: 3.4.1

## How to reproduce (e.g Puppet code you use)

[code]

[code]

## What are you seeing
It doesn't accept h2.

[code]

## What behaviour did you expect instead

I expected the "default" (built-in) databas

[2018-06-29 18:00] TJM opened #255 "jira user depends on install dir (unable to set home dir inside install dir as per example)"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.2
- Ruby: ruby 2.4.3p205 (2017-12-14 revision 61247) [x86_64-linux]
- Distribution: CentOS 7.5
- Module version: 3.4.1

## How to reproduce (e.g Puppet code you use)

[code]

[code]

## What are you seeing

Failure, because of cross-dependencies. The user account cannot be created because "manage_home" is true and it can

[2018-06-29 19:16] TJM commented on #73
Agreed, make the defaults `undef` then when its being used, test if its undef, and use a reasonable default based on `$jira::db` (which seems to be the switch for other parameters)

[2018-07-03 23:06] TJM commented on #50
For what its worth they no longer include the ojdbc driver, even in the tar version. It's really too bad it can't automatically look in like $JIRA_HOME/lib for jars :-/

This one should at least support fetching the jar from a "local" source (puppet/https/etc), even if it can't emulate agreeing to the license agreement on oracle.com.

[2018-07-06 01:41] TJM commented on #255
@bastelfreak To fix this should we just modify the code to make "$install_dir" owned by root:root (0:0)? It doesn't need to be owned by jira:jira, because puppet creates the "destination" ($install_dir/atlassian-jira-VERSION-standalone) directory owned by jira before unarchiving.

[2018-07-09 21:09] #73 closed

[2018-07-09 21:09] #254 closed

[2018-07-09 21:18] TJM commented on #146
On a positive note, if you end up here and need to customize the jdbc connection url, you can do that with the `dburl` parameter.

[2018-07-12 16:46] cpepe opened #259 "This logic does not allow Jira Service Desk to operate"
https://github.com/voxpupuli/puppet-jira/blob/41eeb5c06ade0295fdfcea4760b2f2e239d44cd7/templates/server.xml.erb#L35

The Jasper listener needs to be disabled for JSD as well, due to the namely logic the product must be defined as "servicedesk" whereas the other two are "jira-core", and "jira-software"

[2018-07-12 22:01] cpepe commented on #259
Find the PR here: https://github.com/voxpupuli/puppet-jira/pull/260

[2018-07-15 18:12] bastelfreak commented on #259
thanks for reporting and fixing this @cpepe !

[2018-07-15 18:12] #259 closed

[2018-07-15 18:14] #243 closed

[2018-08-18 18:43] dpisano commented on #248
I have been using version 2.0.0 for some time on Debian 8. I'm in the process of testing a newer version for module.

[2018-10-03 16:29] TJM commented on #50
@adamcrews Do you still have any of this code? The ojdbc8.jar is not (no longer) distributed with JIRA, even in the "tar" distribution. It might be nice to have some existing "working" code to start with. My current customer will, of course, need to be able to set an "internal" URL (Artifactory) to retrieve the file from, because our servers cannot directly reach the Internet.

Additionally, as th

[2018-10-13 01:51] nambrosch opened #269 "Jira 7.12 needs relaxedPathChars & relaxedQueryChars"
Jira 7.12 runs on tomcat 8.5 and needs additional connector parameters -

https://confluence.atlassian.com/jirakb/changing-server-xml-to-handle-requests-with-special-characters-958453799.html

Here's the new default connector -

[code]

Please provide a way to add relaxedPathChars and relaxedQueryChars.  Thanks!

[2018-10-13 02:10] nambrosch commented on #269
something like this should work @ https://github.com/voxpupuli/puppet-jira/blob/master/templates/server.xml.erb#L77

[code]

[2018-10-15 00:54] vonex-tim commented on #269
As a workaround, you can append these attributes to the proxy parameter, eg:
proxy => {"scheme":"https","proxyName":"<Hostname>","proxyPort":"443","relaxedPathChars":"[]|","relaxedQueryChars":"[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"}

[2018-10-15 00:59] alexvanvucht commented on #269
As a workaround you can append these to the proxy parameter, eg:
proxy => { 'scheme' => 'https',
'proxyName' => $facts['hostname'],
'proxyPort'=>'443',
'relaxedPathChars'=>'[]|',
'relaxedQueryChars'=>'[]|{}^&#x5c;&#x60;&quot;&lt;&gt;'
},

[2018-10-15 13:16] nambrosch commented on #269
this workaround works, thank you.  i'll keep an eye out for the next update.
[code]

[2018-11-02 13:07] #234 closed

[2019-01-22 20:52] mcruzmetrostar commented on #269
BUMP for this issue, this change is also needed on JIRA 7.13.0

[2019-01-22 21:08] bastelfreak commented on #269
Hi @nambrosch or @mcruzmetrostar, could one of you provide a PR for this?

[2019-02-14 09:55] negast opened #283 "Oracle real url has : instead of /"
in  init.pp line234
 'oracle' => "jdbc:${db}:thin:@${dbserver}:${dbport_real}:${dbname}",
should be  'oracle' => "jdbc:${db}:thin:@${dbserver}:${dbport_real}/${dbname}",
 Or this is the case at least in our environment

[2019-02-19 19:33] bastelfreak commented on #283
@negast thanks for reporting this. Are you able to provide a pull request with a fix?

[2019-02-19 19:37] #245 closed

[2019-02-20 11:27] negast commented on #283
Pull request: https://github.com/voxpupuli/puppet-jira/pull/284

[2019-02-24 03:55] nambrosch opened #285 "download url has changed"
download url has changed -

old: https://downloads.atlassian.com/software/jira/downloads/
new: https://product-downloads.atlassian.com/software/jira/downloads/

[2019-02-24 15:03] nambrosch commented on #285
also the download_url parameter should not contain a trailing slash.

[2019-02-24 15:59] alexjfisher commented on #285
@nambrosch Thanks for reporting this.  Would you be able to open a PR to fix?

[2019-02-24 16:00] alexjfisher commented on #285
Actually, looks like someone else is already on the case.
https://github.com/voxpupuli/puppet-jira/pull/281

[2019-02-24 18:27] #285 closed

[2019-03-15 12:00] vanElden opened #289 "systemd provider has incorrect file-mode"
## How to reproduce (e.g Puppet code you use)
Install Jira on host with systemd.

## What are you seeing
At every startup the following warning is logged:
"Configuration file /lib/systemd/system/jira.service is marked executable. Please remove executable permission bits. Proceeding anyway.".

## What behaviour did you expect instead
Startup without warnings.

## Output log
See above.

[2019-04-09 20:43] pomario opened #293 "Mysql connector is not respecting the deploy_module choice"
Mysql connector is not respecting the deploy_module choice, it always requires the deprecated "staging"
https://github.com/voxpupuli/puppet-jira/blob/07a509b4d5aef4a862cc53a66e56c3e908f1a19c/manifests/mysql_connector.pp#L10

[2019-04-10 08:42] GrayPockets opened #294 "Jira downloads url default"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 2018.1.4
- Distribution: Ubuntu 16.04
- Module version: 3.5.2

## How to reproduce (e.g Puppet code you use)
Use the module with default download_url

## What are you seeing
The module fails to download Jira archive

## What behaviour did you expect instead
The module downloads Jira archive (then installs it)

## Output log

[2019-04-16 09:17] GrayPockets opened #295 "Server.xml for servicedesk"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: Puppet: 2018.1.4
- Distribution: Ubuntu 16.04
- Module version: 3.5.2

## How to reproduce (e.g Puppet code you use)
Install jira with product 'servicedesk' and version '3.15.1'

## What are you seeing
https://confluence.atlassian.com/jirakb/cant-start-jira-after-upgrade-to-jira-7-790629818.html

## What behaviour did you ex

[2019-04-23 16:11] Ben-John commented on #295
We are also running into this issue. We are using product = 'servicedesk' and version = '4.1.0'. Yet the JasperListener class is still being inserted into server.xml

[2019-04-30 15:18] towo commented on #294
Can confirm, just happened upon this myself.

[2019-04-30 15:21] towo commented on #294
Well, @alexjfisher already fixed this in #286; it'll be in the next release. You can use the git version until then (`mod puppet/jira, :git => https://github.com/voxpupuli/puppet-jira` in a `Puppetfile`).

[2019-04-30 15:21] #294 closed

[2019-06-19 20:25] GrayPockets commented on #295
This was fixed by #288, which looks like it was included in version 4.0.0

[2019-06-19 20:25] #295 closed

[2019-06-19 20:26] GrayPockets commented on #295
This was a duplicate of #259

[2019-06-20 16:05] nambrosch opened #300 "Java 11 Compatibility"
This parameter breaks compatibility with jdk11 -

https://github.com/voxpupuli/puppet-jira/blob/a40b36fbb8631d889b8691ff9e7aa51ad1d23ab5/templates/setenv.sh.erb#L50

Here is the exception -

[code]

Emptying this option allows Jira to start.

[2019-07-24 17:20] ssanden commented on #248
i used this module with debian8 and debian9.
today i updated the module from 3.5.2 to 4.0.0 on a debian9 jira staging environment. i upgraded jira to 8.3 - all worked pretty good.

[2019-07-25 01:11] dpisano commented on #248
@ssanden Are you using the all in one version of the agent?

[2019-07-25 10:16] ssanden commented on #248
@dpisano, right.. the "puppet-agent" package after installing the release-package directly from apt.puppetlabs.com.
right now with puppet5 mostly on lxc btw..

[2019-07-25 23:39] dpisano commented on #248
@ssanden I just did a clean install using version 4.0.0 of the module. I'm still seeing `/etc/facter/facts.d/jira_facts.rb` error on puppet runs.  I know that #158 has set out to fix this, but has stalled. I'm going to submit a PR with a fix that I have been using.

[2019-10-04 12:49] negast opened #304 "Raise puppet-archive version"
Hello

the puppet archive version required is
 {
      "name": "puppet/archive",
      "version_requirement": ">= 1.0.0 < 4.0.0"
}
but puppet/archive latest release is now above 4.0.0 can this be raised?

[2019-10-16 00:21] jfabales opened #305 "Please allow adding properties to server.xml that would add the clients' real ip address to jira access logs when running behind a proxy server"
Hi wonderful team,
This is not an issue but more of a request. When jira is running behind a proxy server, the client ip address reflected in the jira access logs is all coming from the localhost ip. It would be better to have the clients' real ip addresses inside jira access logs specially when you feed the logs into logstash or filebeat.
The configuration needed should be added to the `server.xm

[2019-11-18 12:39] mojibake-umd commented on #269
This was actually added in f6bd5405ec50ae5e444a38a869b7b647d9764ff9 so this can get closed?

[2019-11-18 12:51] mojibake-umd opened #308 "JVM_CODE_CACHE_ARGS not set"
According to [upgrade notes for 7.13.x](https://confluence.atlassian.com/jirasoftware/jira-software-7-13-x-upgrade-notes-957135908.html) JVM_CODE_CACHE_ARGS should be set.
This option is missed because setenv.sh is delivered via ERB template.

I was able to work around this setting in Hiera.
jira::java_opts: '-XX:InitialCodeCacheSize=32m -XX:ReservedCodeCacheSize=512m -Dorg.dom4j.factory=com.atlas

[2019-11-18 12:57] mojibake-umd opened #309 "JVM_REQUIRED_ARGS is missing -Dorg.dom4j.factory=com.atlassian.core.xml.InterningDocumentFactory"
I do not know when -Dorg.dom4j.factory=com.atlassian.core.xml.InterningDocumentFactory was added to JVM_REQUIRED_ARGS by Atlassian, but it is missing from setenv.sh as it is being delivered by ERB template.

I was able to get around by setting the following in Hiera.
jira::java_opts: '-XX:InitialCodeCacheSize=32m -XX:ReservedCodeCacheSize=512m -Dorg.dom4j.factory=com.atlassian.core.xml.InterningDo

[2019-11-18 13:46] nambrosch commented on #269
@mojibake-umd yes, i've been using module version 4.0.0 since june 20th and it works fine.

[2019-11-18 13:46] #269 closed

[2020-03-08 14:35] hdep opened #313 "remove dependency to puppet/staging"
This module has a dependency to https://forge.puppet.com/puppet/staging
but this module is deprecated.
We should move to https://forge.puppet.com/puppet/archive instead.

[2020-04-21 14:23] decibelhertz opened #315 "jira service not restarted when changing systemd file"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.19
- Ruby: 2.4.9
- Distribution: CentOS 7
- Module version: 4.0.0

## How to reproduce (e.g Puppet code you use)
Change `$javahome`

## What are you seeing
I believe https://github.com/voxpupuli/puppet-jira/blob/master/manifests/service.pp#L41 should be `notify`, not `before`.

## What behaviour did you expect instead
Ch

[2020-04-21 15:24] dhoppe commented on #315
I think we should use ˋˋˋcamptocamp/systemdˋˋˋ. @bastelfreak Do you agree?

[2020-04-21 16:16] dhoppe commented on #315
Sounds good. It looks like the Confluence module is a little bit smarter, because it does not restart by default.
* https://github.com/voxpupuli/puppet-confluence/commit/b0de32163502cce2109477ad344f32fc68a17486

Are you able to provide a pull request? That would be great.

[2020-04-21 16:21] dhoppe commented on #315
Sounds good. It looks like the Confluence module is a little bit smarter, because it does not restart by default.
* https://github.com/voxpupuli/puppet-confluence/commit/b0de32163502cce2109477ad344f32fc68a17486

Are you able to provide a pull request? That would be great.

[2020-04-24 15:19] decibelhertz commented on #315
I'm willing to do a PR (are several PRs?).

Upon code review, there are some organizational issues that I think would help when doing so.  My questions would be:

* Inheritance is a mess.  Some classes inherit `jira::params`, some `jira`, some none.  Since that problem touches the issue I am talking about, I'd be interested in cleaning that up.  Any opposition to me doing that?
* Are you open to u

[2020-05-25 22:05] h-haaks opened #318 "Bump puppetlabs-stdlib dependency"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.x, 6.x
- Ruby:
- Distribution:
- Module version: 4.0.0

## What are you seeing
Dependecy conflicts with other updated modules

## What behaviour did you expect instead
I expect the latest version of this module to be compatible with the latest versions of its dependencies.

## Any additional information you'd like to imp

[2020-05-28 11:02] ekohl commented on #304
Fixed in 78052cd8bc317c018c41d61590a00dc02b5dbcad

[2020-05-28 11:02] #304 closed

[2020-05-28 11:02] ekohl commented on #318
Fixed in 78052cd8bc317c018c41d61590a00dc02b5dbcad

[2020-05-28 11:02] #318 closed

[2020-05-28 11:04] ekohl commented on #168
Metadata indicates this does work.

[2020-05-28 11:04] #168 closed

[2020-05-28 11:04] ekohl commented on #151
Looks like this was fixed by now.

[2020-05-28 11:06] ekohl commented on #313
We've just merge a PR that made the tests all green again. Would you be able to come up with a patch?

[2020-05-29 01:56] dpisano commented on #151
This is still a problem unless you have ruby installed on your system. If you are using the OSS version of Puppet `facts.rb` will be made looking for the system installed ruby. As the AIO Puppet agent does not install ruby on the system, every time `facts.rb` is run it will fail because ruby is not installed. The only way around this is it installed ruby on the system or change `jira::facts` to ch

[2020-05-29 11:06] ekohl commented on #151
Ah, so this is
https://github.com/voxpupuli/puppet-jira/blob/0f32b04d9e32d7285290cdacd616daab73684f2c/manifests/facts.pp#L30-L38

I'd suggest changing the check to `fact('aio_agent_version') =~ String[1]`. Since I don't use it myself, I can't test it out but that should be a pretty trivial PR.

[2020-05-29 23:46] dpisano commented on #151
Let me try to do it this weekend. I have a fork with this fixed for some time. I also have a dev environment to test it in.

[2020-05-30 22:34] dpisano commented on #151
I have submitted the PR, but it looks like I need to update some of the tests too. I'm pretty sure that Puppet 5 and 6 only come in an AIO version. If that is the case in `jira_facts_spec.rb` should I just set `regexp_oss = %r{^#\!/opt/puppetlabs/puppet/bin/ruby$}`?

[2020-05-31 00:28] ekohl commented on #151
I think so yes. Since Puppet 4, Puppetlabs only ships AIO packages.

[2020-06-17 18:14] #151 closed

[2020-07-21 09:58] lobbin opened #323 "Add optional MySQL connection string options"
## Affected Puppet, Ruby, OS and module versions/distributions

- Module version: 4.0.1

## What are you seeing

The jira module have a static string of options,
<url>jdbc:mysql://localhost:3306/jira?useUnicode=true&amp;characterEncoding=UTF8&amp;sessionVariables=default_storage_engine=InnoDB</url>

## What behaviour did you expect instead

I'd like to add an option for us to define for instance,

[2020-09-07 09:10] lobbin commented on #323
Never mind, I realised I can use the dburl setting.

[2020-09-07 09:10] #323 closed

[2020-09-29 08:53] Kidswiss opened #330 "Jira_facts deprecation warnings"
# Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.18.0
- Ruby: ruby 2.7.0p0 (2019-12-25 revision 647ee6f091)
- Distribution: Ubuntu 20.04
- Module version: 4.0.1

## How to reproduce (e.g Puppet code you use)

[code]
## What are you seeing

[code]
## What behaviour did you expect instead

No warnings

## Output log

[code]

[2020-09-29 08:55] Kidswiss commented on #330
Using following changes to `/etc/facter/facts.d/jira_facts.rb` seem to fix the problem:
[code]

[2020-10-29 17:44] wolfaba opened #333 "jira::java_opts defined as YAML multiline block string generates incorrect JAVA_OPTS string in setenv.sh"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.19.1
- Ruby: ruby 2.5.8p224 (2020-03-31 revision 67882) [x86_64-linux]
- Distribution: Debian 9.13
- Module version: 4.0.1

## How to reproduce (e.g Puppet code you use)

Define `jira::java_opts` as multiline string in YAML (Hiera) as described in Hiera examples in README.md, e.g.

    jira::java_opts: >
      -Datlassian.

[2020-10-29 18:21] kenyon commented on #333
Try the [YAML syntax for stripping the final newline](https://yaml.org/YAML_for_ruby.html#three_trailing_newlines_in_folded_blocks), note the minus sign after the greater-than sign:

[code]

[2020-10-29 18:41] wolfaba commented on #333
Oh, I have not read the page with multiline string description https://yaml-multiline.info/  very sharp! It's really described there too. Thank you for your hint!

[2020-10-29 18:41] #333 closed

[2020-10-30 10:31] wolfaba commented on #300
any temporary workaround for this issue until the update is released? thank you!

[2020-10-30 11:42] nambrosch commented on #300
@wolfaba i believe adding `-XX:+IgnoreUnrecognizedVMOptions` to `java_opts` should help.

[2020-10-30 13:56] wolfaba commented on #300
@nambrosch Perfect! It works! Cool backward compatibility option :smile: Thank you very much!

[2020-11-26 23:34] lgooch commented on #241
This issue has recently caused me some pain as well so I've fixed the issue and opened a PR to merge the fix in.

[2020-11-26 23:38] lgooch commented on #255
@TJM I've recently been caught out by this issue. Do you have any plans to fix this yourself or are you happy for me to pick this up?

[2020-11-30 16:19] TJM commented on #255
@lgooch I used the workaround above in my "profile" for jira. :)

[2021-02-03 00:22] #63 closed

[2021-02-04 12:56] mojibake-umd opened #339 "server.xml - StuckThreadDetectionValve introduced in 7.6.12"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.12
- Ruby:
- Distribution: Redhat
- Module version: 4.0.1

## How to reproduce (e.g Puppet code you use)

puppet-jira

## What are you seeing

Atlassian added <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve" threshold="120" />
below scanManifest in server.cml https://github.com/voxpupuli/puppet-jir

[2021-02-22 16:12] #330 closed

[2021-03-01 09:48] ekohl opened #346 "Drop Ubuntu 16.04, Add 18.04 instead"
Ubuntu 16.04 is going EOL soon and 18.04 is out for a long time. It's time to follow that.

[2021-03-01 09:49] #346 closed

[2021-03-17 09:23] #300 closed

[2021-03-17 09:23] #339 closed

[2021-04-14 17:07] oranenj commented on #289
This seems to have been fixed, closing this issue.

[2021-04-14 17:07] #289 closed

[2021-04-14 17:44] oranenj commented on #308
This is fixed in current master
[code]

[2021-04-14 17:44] #308 closed

[2021-04-14 17:46] oranenj commented on #309
Fixed in current master
{noformat}
<%- if scope.call_function('versioncmp', [@version, '8.11.0']) > 0 -%>
JVM_REQUIRED_ARGS='-Djava.awt.headless=true -Datlassian.standalone=JIRA -Dorg.apache.jasper.runtime.BodyContentImpl.LIMIT_BUFFER=true -Dmail.mime.decodeparameters=true -Dorg.dom4j.factory=com.atlassian.core.xml.InterningDocumentFactory'
<% else -%>
{noformat}

[2021-04-14 17:46] #309 closed

[2021-04-14 17:53] oranenj commented on #49
Types in master now, not needed anymore.

[2021-04-14 17:53] #49 closed

[2021-04-14 18:01] oranenj commented on #213
PR Fixing this is merged, closing.

[2021-04-14 18:01] #213 closed

[2021-04-14 18:40] #77 closed

[2021-04-14 18:40] #103 closed

[2021-04-14 18:40] #293 closed

[2021-04-14 18:40] #313 closed

[2021-04-14 18:58] ekohl commented on #124
23242f9f7a68f6d0728bc2c3d7b1198570f69b34 dropped support for sysvinit which makes this issue moot.

[2021-04-14 18:58] #124 closed

[2021-04-14 19:17] oranenj commented on #117
This issue is old enough that I'm just going to close it. Chances are, this will work better with current master.

[2021-04-14 19:17] #117 closed

[2021-04-14 19:18] oranenj commented on #36
I'm pretty sure this can already be done? If not, then I'm going to decide that this issue has died of old age and disinterest :)

[2021-04-14 19:18] #36 closed

[2021-04-14 19:20] oranenj commented on #44
I'm doing issue cleanup. If this is still a problem, open a new ticket.

[2021-04-14 19:20] #44 closed

[2021-04-14 19:27] oranenj commented on #102
This issue is a bit old, and I'm not sure if the questions here are something that directly relate to this Puppet module.

But in summary:

- This module doesn't concern itself with JIRA addons, they're out-of-scope.
- Taking over "old" installations with Puppet is generally something you need to plan on a case-by-case basis.
- Once you have JIRA managed by Puppet, upgrades are pretty simple.

[2021-04-14 19:27] #102 closed

[2021-04-14 19:33] #241 closed

[2021-04-14 19:49] oranenj commented on #120
I think this was a JIRA bug and explicitly specifying validation queries should not be necessary nowadays.

[2021-04-14 19:49] #120 closed

[2021-04-14 19:52] oranenj commented on #315
I'm currently on a cleanup spree, so it's pretty likely I'll do something to fix this too until I run out of steam :P Let's see.

[2021-04-14 19:55] oranenj commented on #227
I think master supports custom tomcat connectors nowadays, which might solve this problem.

I'll close this issue since it's getting old. :)

[2021-04-14 19:55] #227 closed

[2021-04-14 19:57] oranenj commented on #146
I'll close this as a duplicate-ish of #283

[2021-04-14 19:57] #146 closed

[2021-04-14 19:58] oranenj commented on #137
Doing issue cleanup, this one is past its best-before state

[2021-04-14 19:58] #137 closed

[2021-04-15 18:33] oranenj opened #358 "WIP: 5.0.0 release summary"
Version 5.0.0 is a major release of the `puppet/jira` module. The API stays mostly the same, but there are a few changes that users should take into account:

### Only JIRA version 8.0.0 and newer are supported.
- The module's templates have been synchronized with the latest LTS release of JIRA (8.13.5)
- Upgrade your JIRA installation to a supported version using a previous version of this module

[2021-04-15 21:10] #150 closed

[2021-04-15 22:11] oranenj opened #361 "Test with Puppet 7 and fresher OSes"
Should probably bump up the testing matrix a bit before release

[2021-04-17 17:07] #255 closed

[2021-04-19 16:17] #53 closed

[2021-04-19 16:17] #283 closed

[2021-04-19 16:40] oranenj commented on #248
I tried running the tests with Debian 10, but they seem to fail for whatever reason.

I don't see why this module wouldn't work on Debian, but unless someone steps up gets the tests running, it won't be officially supported in 5.0.0

[2021-04-19 16:43] oranenj commented on #138
I'm going to say that this is out of scope for now, given how old this issue is, and people really ought to be using a reverse proxy for this anyway.

[2021-04-19 16:43] #138 closed

[2021-04-19 18:06] oranenj commented on #305
Hi,

this use case should already be possible to accomplish slightly differently with the master branch; see the `$tomcat_accesslog_enable_xforwarded_for` parameter

[2021-04-19 18:06] #305 closed

[2021-04-20 13:57] #85 closed

[2021-04-20 15:27] #361 closed

[2021-04-20 15:48] #315 closed

[2021-04-21 18:41] #358 closed

[2021-04-28 08:57] koraz0815 opened #377 "JIRA will not start if the installation directory mode is missing o+x"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: v7.6.1
- Ruby: 2.0.0
- Distribution: CentOS 7.9
- Module version: 5.0.1

## How to reproduce (e.g Puppet code you use)
I have set the parameter $installdir and the module change the permissions to root not to user jira.

## What are you seeing
`$installdir => /opt/atlassian-jira`
after puppet agent was running on the machine

[2021-05-07 18:22] oranenj commented on #377
The problem seems to be the installdir's permissions: you don't have `o+x`, so JIRA can't enter any subdirectories.

The ownership was changed to root because this solved a dependency issue if you put the data directory under the installation directory. The JIRA application should never need to write into the directory where the binaries reside; that's what the data directory is for, but it does n

[2021-05-07 18:46] oranenj commented on #377
@koraz0815 I created a PR to make sure the installation directory has a sane mode. In the meantime, just `chmod 0755 /opt/atlassian-jira` and it should start again.

[2021-05-07 19:24] #377 closed

[2021-05-18 08:12] oranenj opened #380 "connection-settings parameter in dbconfig.xml template should be connection-properties instead"
I guess this was a mental typo :-)

Will send a PR soon

[2021-05-19 08:37] #380 closed

[2021-08-04 14:20] Kickball opened #387 "Manage web.xml Config"
This puppet module templates several of the commonly used config files for Jira, however web.xml is not one of them at the moment.

It would be useful to fix HTTPS redirection ([docs](https://confluence.atlassian.com/jirakb/filter-and-issues-page-not-redirected-after-integrating-jira-with-ssl-or-https-806032984.html)) and change the default session timeout ([docs](https://confluence.atlassian.com/

[2021-08-07 09:25] jocelynthode opened #388 "Release a new Jira version"
Hi the recent bug ( fixed here https://github.com/voxpupuli/puppet-jira/commit/4f05db0194be49dc4034ecf09103f69b9af798b9)  makes the 5.0.x releases unusable when having a SSL Connector. Could we push a new release with this fix included please?

[2021-08-25 13:58] Joris29 opened #392 "Add manage_homedir support"
I would like to have an option to manage_homedir like mange_user parameter

[2021-11-19 03:49] jmcnatt opened #395 "scheme written twice in server.xml when using tomcat_native_ssl and supplying proxy settings"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:  PE 2021.2
- Ruby:  ruby 2.7.3p183 (2021-04-05 revision 6847ee089d) [x86_64-linux]
- Distribution:  CentOS 7
- Module version: 5.1.0 (latest)

## How to reproduce (e.g Puppet code you use)

A simple Puppet class including jira:

[code]

And supplying the parameters in hiera:

[code]

The issue is surfaced by specifying:
[cod

[2021-11-25 10:38] #388 closed

[2021-12-03 20:26] #395 closed

[2022-05-13 15:18] Kickball commented on #387
This workaround isn't suitable for merging into the module as may not work on all operating systems, but can be implemented in a wrapper module without too much trouble.

`# Configure HTTP Redirection for Jira
# https://confluence.atlassian.com/adminjiraserver/running-jira-applications-over-ssl-or-https-938847764.html
exec {
    'atlassian-http-redirection':
        # Firstly remove the last line